###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> IDE ###
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
###< IDE ###

###> Node/NPM ###
node_modules/
npm-debug.log
yarn-error.log
###< Node/NPM ###

###> Data files ###
/var/data.db
/var/cache/
###< Data files ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
